
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400&display=swap');

$primaryColor: #fdbd11;
$secondaryColor: #f47221;
$accentColor: #199d95;
$accentLightColor: #a5dcdd;
$backgroundColor: #efecee;
$white: #ffffff;
$textColor: #131313;

body{
    font-family: 'Poppins', sans-serif;
}

// Common Styles
.full-width-image{
    height: 100vh;
}

// Loading Screen
.loading-title{
    font-size: 100px;
    letter-spacing: 5px;
    color: $textColor;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: $primaryColor;
    top: 0%;
    z-index: 1002;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overlay span {
    font-size: 30px;
    letter-spacing: 3px;
}



// Landing Page and Navbar
.MuiTypography-body1 {
    font-size: 1.8rem;
    text-align: center;
    color: #131313;
    font-family: 'Poppins', sans-serif;
}

.navbar{
    position: fixed;
    width: 100%;
    background-color:#131313;
    z-index: 1001;
    height:60px;
    visibility: hidden;
    display: inline-block;
}

.makeStyles-navbar-1{
    visibility: hidden;
}

.index-page{
    visibility: hidden;
}

.hero-title{
    font-size: 72px;
    color: $white;
}

.logo {
    font-size: 21px;
    font-weight: 600;
    color: $white;
    margin: 14px 10px;
    position: absolute;
}

.MuiButton-text {
    padding: 12px 8px;
}

.main-title{
    font-size: 72px;
    font-weight: 600;
    color: $white;
}

// Media Queries
@media screen and (min-width: 960px) {

}

@media screen and (max-width: 540px) {
    /* Styles go here */
    .loading-title{
        font-size: 36px;
        letter-spacing: 3px;
        color: $textColor;
      }
    .hero-title{
        font-size: 36px;
        color: $white;
    }
}