
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400&display=swap');

$primaryColor: #fdbd11;
$secondaryColor: #f47221;
$accentColor: #199d95;
$accentLightColor: #a5dcdd;
$backgroundColor: #efecee;
$white: #ffffff;
$textColor: #131313;


body{
    font-family: 'Poppins', sans-serif !important;
}

// Common Styles
.full-width-image{
    height: 100vh;
}

// Primary Button
.btn-primary{
    min-width: 200px;
    padding: 0.8rem;
    margin-top: 1.2rem;
    background-color: $primaryColor;
    color: $white;
    font-size: 14px;
    border-radius: 0;
    letter-spacing: 2px;
}

.btn-primary:hover{
    background-color: $secondaryColor;
}

// Loading Screen
.loading-title{
    font-size: 100px;
    letter-spacing: 5px;
    color: $textColor;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: $primaryColor;
    top: 0%;
    z-index: 1002;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overlay span {
    font-size: 30px;
    letter-spacing: 3px;
}

// Landing Page and Navbar
.MuiTypography-body1 {
    font-size: 1.8rem;
    text-align: center;
    color: #131313;
}

.navbar{
    position: fixed;
    width: 100%;
    background-color:#131313;
    z-index: 1001;
    height:60px;
    visibility: hidden;
    display: inline-block;
}

.makeStyles-navbar-1{
    visibility: hidden;
}

.index-page{
    visibility: hidden;
}

.hero-title{
    padding: 1.5rem;
    font-size: 82px;
    color: $primaryColor;
    font-weight: 600;
    letter-spacing: 8px;
}

.hero-subtitle{ 
    color: #ffffff;
    font-weight: 200;
    letter-spacing: 8px;
}

.logo {
    font-size: 21px;
    font-weight: 600;
    color: $white;
    margin: 14px 10px;
    position: absolute;
}

.MuiButton-text {
    padding: 12px 8px;
}

.main-title{
    font-size: 72px;
    font-weight: 600;
    color: $white;
}

.section-intro{
    background-color: $accentColor;
    color: $white;
    padding: 5rem;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro-description{
    line-height: 32px;
}

.section-program{
    min-height: 50vh;
    padding: 5rem;
}

.program-card .sub-title{
    background-color: #199d95;
    padding: 4px 8px;
    color: white;
    width: auto;
    font-size: 14px;
    letter-spacing: 1px;
}

.section-insta{
    padding: 2.5rem 0rem;
}

// Contact Page
.section-contact{
    min-height: 100vh;
}
.contact-wrap{
    padding: 5rem 3rem;
}

// Insta Feed 
.insta-wrap .MuiPaper-rounded{
    border-radius: 0 !important;
}

// footer

footer{
    background-color: $accentColor !important;
}

.footer-title{
    font-size: 48px;
    font-weight: 600;
    color: $primaryColor;
}


// Media Queries
@media screen and (min-width: 960px) {

}

@media screen and (max-width: 540px) {
    // Common Style

    /* Styles go here */
    .loading-title{
        font-size: 36px;
        letter-spacing: 2px;
        color: $textColor;
      }

    .hero-title{
        padding: 1rem;
        font-size: 36px;
        font-weight: 600;
        letter-spacing: 3px;
    }
    
    .hero-subtitle{ 
        font-weight: 200;
        letter-spacing: 5px;
    }

    .section-intro, .section-program {
        padding: 1rem;
        min-height: 80vh;
    }
    
    
}