
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400&display=swap');

$primaryColor: #fdbd11;
$secondaryColor: #f47221;
$accentColor: #199d95;
$accentLightColor: #a5dcdd;
$backgroundColor: #efecee;
$white: #ffffff;
$textColor: #131313;


body{
    font-family: 'Poppins', sans-serif !important;
}

// Common Styles
.bg-primary{
    background-color: $primaryColor !important;
}

.bg-secondary{
    background-color: $secondaryColor !important;
}

.bg-accent{
    background-color: $accentColor !important;
}

.bg-accent-light{
    background-color: $accentLightColor !important;
}

.text-white{
    color: $white !important;
}

.full-width-image{
    height: 100vh;
}

.content-area{
    padding: 3rem 5rem;
}

.mt-2{
    margin-top: 2rem !important;
}
.mt-3{
    margin-top: 3rem !important;
}
.mt-4{
    margin-top: 4rem !important;
}
.mt-5{
    margin-top: 5rem;
}

.mt--1{
    margin-top: -1rem;
}

.ml-2{
    margin-left: 2rem !important;
}
.ml-3{
    margin-left: 3rem !important;
}
.ml-5{
    margin-left: 5rem !important;
}

.mr-2{
    margin-right: 2rem !important;
}

.p-0{
    padding: 0 !important;
}

.p-2{
    padding: 2rem !important;
}

.pt-5{
    padding-top: 5rem;
}

.main-title{
    font-size: 64px;
    font-weight: 600;
    color: $secondaryColor;
}

.main-sub-title{
    font-size: 28px;
    font-style: italic;
}

.page-description{
    font-size: 18px;
    line-height: 40px;
    font-weight: 400;
}

.page-description-sm{
    font-size: 16px;
    line-height: 40px;
}

.page-description-lg{
    font-size: 24px;
    line-height: 40px;
}

.section-title{
    font-size: 42px;
    font-weight: 600;
    color: $textColor;
}

.section-sub-title{
    font-size: 21px;
    font-style: italic;
}

button{
    font-family: 'Poppins', sans-serif !important;
    cursor: pointer;
}

button:focus{
    border: none;
    outline: none;
}

.btn{
    color: rgba(0, 0, 0, 0.87);
    padding: 6px 16px;
    font-size: 0.875rem;
    min-width: 64px;
    box-sizing: border-box;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-weight: 500;
    line-height: 1.75;
    border-radius: 4px;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    border: none;
    box-shadow: none;
}

// Primary Button
.btn-primary{
    min-width: 200px;
    padding: 0.8rem;
    background-color: $primaryColor;
    color: $textColor;
    font-size: 16px;
    border-radius: 0;
    letter-spacing: 2px;
}

// Accent Button
.btn-accent{
    min-width: 200px;
    padding: 0.8rem;
    background-color: $accentColor;
    color: $white;
    font-size: 16px;
    border-radius: 0;
    letter-spacing: 2px;
}

.btn-link{
    min-width: 200px;
    padding: 0.8rem;
    background-color: $white;
    color: $primaryColor;
    font-size: 16px;
    border-radius: 0;
    letter-spacing: 2px;
    font-weight: 600;
}
.btn-link:hover{
    border-bottom: 1px solid $primaryColor;
}

.btn-primary:hover{
    background-color: $secondaryColor;
}

.btn-fullwidth{
    width: 100%
}
.block{
    display: block;
}
.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.justify-around{
    justify-content: space-around;
}
.align-items-center{
    align-items: center;
}
.flex-column{
    flex-direction: column;
}
.float-right {
    float: right;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.text-bold{
    font-weight: 600;
}

.list-item-icon{
    color: $textColor;
}

.text-small{
    font-size: 12px;
}

// Loading Screen
.loading-title{
    font-size: 100px;
    letter-spacing: 5px;
    color: $textColor;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: $primaryColor;
    top: 0%;
    z-index: 1002;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overlay span {
    font-size: 30px;
    letter-spacing: 3px;
}

// Landing Page and Navbar
.MuiTypography-body1 {
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
    color: #131313;
}

.navbar{
    position: fixed;
    width: 100%;
    background-color:transparent;
    z-index: 1001;
    height:60px;
    visibility: hidden;
    display: inline-block;
}

.makeStyles-navbar-1{
    visibility: hidden;
}

.navbar-social-wrap{
    display: flex;
    justify-content: center;
}
.navbar-collapse .social-icon{
    color: $textColor;
    font-size: 24px;
    padding: 0 15px;
}

.nav-item-sub{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.nav-item-sub-text .MuiTypography-body1{
    font-size: 1rem;
    font-weight: 400;
}

.index-page{
    visibility: hidden;
}

.hero-background{
    height: 100vh;
    box-shadow: inset 0 0 0 2000px #3e300c73;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ReactBackgroundSlider figure{
    background-position-y: top !important;
}

.hero-title{
    padding: 1.5rem;
    font-size: 90px;
    color: $white;
    font-weight: 600;
    letter-spacing: 8px;
}

.hero-subtitle{ 
    color: $white;
    font-weight: 200;
    letter-spacing: 8px;
    margin-bottom: 1.2rem;
}

.logo {
    font-size: 21px;
    font-weight: 600;
    color: $primaryColor;
    margin: 14px 10px;
    position: absolute;
}

.MuiButton-text {
    padding: 12px 8px;
}

.section-intro{
    background-color: $white;
    color: $textColor;
    padding: 3rem 5rem;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-program-home{
    min-height: 50vh;
    padding: 0 4rem;
}

.program-card .info-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.program-card .MuiTypography-gutterBottom{
    margin-bottom: 0;
}

.program-card .MuiButton-textPrimary {
    color: $primaryColor;
}

.program-card .MuiButton-text {
    padding: 12px 0px;
}

.program-card .MuiButton-textPrimary {
    color: $primaryColor;
}

.program-card .sub-title{
    background-color: $accentColor;
    padding: 4px 8px;
    color: white;
    width: auto;
    font-size: 13px;
    border-radius: 20px;
}

.testimonial-wrap{
    padding: 5rem 5rem 0rem 5rem;
}

.testnomial-title{
    height: 50vh;
    background-color: $primaryColor;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.testimonials-item .description{
    font-size: 18px;
    line-height: 32px;
    font-weight:400;
}

.testimonials-item .author-name{
    font-size: 16px;
    line-height: 28px;
    font-weight: 600;
    margin-top: 2rem;
    text-align: right;
}

.testimonials-item .author-info{
    font-size: 16px !important;
    line-height: 24px;
    font-weight: 400;
    font-style: italic !important;
    text-align: right;
}

.section-insta{
    padding: 2.5rem 0rem;
}

// About Page
.section-about{
    min-height: 100vh;
    padding: 4rem;
}

.section-about p{
    font-size: 18px;
    line-height: 28px;
}

.about-img{
    height: 300px;
    width: fit-content;
    object-fit: cover;
}

.about-img-portrait{
    height: 400px;
    object-fit: contain;
}

// Program Page
.section-program{
    padding: 4rem;
}

.program-tile{
    width: 100%;
    height: 125px;
    background-color: #199d95;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
}

.program-tile h1{
    font-size: 28px;
    font-weight: 600;
}

.program-tile p{
    font-size: 16px;
}

.program-tile-img{
    height: 400px;
    width: 100%;
    object-fit: cover;
}

.MuiDialog-paperWidthSm{
    max-width: 700px !important;
}

// Gallery Page
.section-gallery{
    padding: 4rem;
}

.gallery-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: hidden;
}

.grid-list{
    width: 100vW;
    height: auto;
}

.MuiGridListTile-imgFullHeight{
    object-fit: cover !important;
}

.gallery-img:hover{
    cursor: pointer;
}

// FAQ page
.section-faq {
    padding: 4rem;
}

.faq-item{
    margin: 2rem 0;
}

// Contact Page
.section-contact{
    min-height: 100vh;
}
.contact-wrap{
    padding: 4rem 3rem;
}

// Insta Feed 
.insta-wrap .MuiPaper-rounded{
    border-radius: 0 !important;
}

// footer
.section-footer{
    background-color: $accentColor !important;
    min-height: 45vh;
    padding: 1rem 5rem;
    color: $white;
}

.footer-title{
    font-weight: 600;
    color: $white;
    font-size: 36px;
}

.section-footer .menu-list a {
    font-size: 14px;
    border-radius: 2px;
    color: whitesmoke;
    display: block;
    padding: 0.2rem 0rem;
}

.section-footer .menu-list a:hover {
    color: $primaryColor !important;
    background-color: transparent;
}

.section-footer .menu-list a:focus {
    color: $primaryColor !important;
    background-color: transparent;
}

.section-footer .social-icon{
    color: $white;
    font-size: 24px;
    margin-right: 24px;
}

.section-footer .footer-address{
    font-size: 14px;
    line-height: 21px;
}

.section-footer .footer-map:hover{
    opacity: 0.8;
    cursor: pointer;
}


// Media Queries
@media screen and (min-width: 960px) {

}

@media screen and (max-width: 540px) {
    // Common Style
    .btm-sm-full-width{
        width: 100%;
    }

    .content-area{
        padding: 1rem;
    }

    /* Styles go here */
    .loading-title{
        font-size: 36px;
        letter-spacing: 2px;
        color: $textColor;
      }

    .hero-title{
        padding: 1rem;
        font-size: 36px;
        font-weight: 600;
        letter-spacing: 3px;
    }
    
    .hero-subtitle{ 
        font-weight: 200;
        letter-spacing: 5px;
    }

    .section-intro, .section-program-home, 
    .section-footer,
    .about-mission, .about-values, .about-methodology, .section-program {
        padding: 1rem;
    }
    .section-gallery{
        padding: 4rem 0rem;
    }

    .section-about{
        padding-top: 3rem;
    }

    .footer-title{
        font-size: 24px;
    }

    .footer-social{
        margin: 1rem 0;
    }
}